body {
	background: linear-gradient(-45deg, #b3d6fc, #82befe, #6fffb7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 7px;
  top: 7px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    border-radius: 200px;
    
    background: linear-gradient(-45deg, #b702ff, #00ccff, #007bff, #02ff78);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    left: 250px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #0099ff;
  }
  
  /*
  Тут можно поменять ширину самого меню
  */

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    max-width: 220px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    
    padding: 1.5em 1.5em 0;
    font-size: 1.15em;

    background: linear-gradient(-45deg, #b702ff, #c9f2ff, #00bbff, #fb02ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  /* Morph shape necessary with bubble or elastic */
  
  .bm-morph-shape {
    fill: #00d5ff;

  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #ffea00;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }





  .gradient-text {
    /* Fallback: Set a background color. */

  




    background-color: #000000;
    
    /* Create the gradient. */
    background-image: linear-gradient(
      45deg,
      #00ff80 50%,
      #00ccff 50%
    );
    
    /* Set the background size and repeat properties. */
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  
    
    animation: button-animation 0.65s 0.15s ease-out forwards;
  }
  
  a:hover, a:hover span{
    animation: button-animation-rev 0.65s ease-out forwards;
}

a:hover {
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
  
  @keyframes button-animation {
    0% {
      background-position: top right;
    }
    100% {
      background-position: top left;
    }
  }
  
  @keyframes button-animation-rev {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  
  .m1 {
    background-image: linear-gradient(45deg, #00ffee 50%, #00d5ff 50%);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: button-animation 0.65s 0.15s ease-out forwards;
    cursor: pointer;
  }

  .mb1 {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: larger;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
  }
  
  .gradient {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: -2px;
    animation: flow 3s ease-in-out infinite;
    background: linear-gradient(-60deg, #23a6d5, #21eded);
    background-size: 300%;
    padding-left: 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.textab {
  font-size: larger;
  text-align: center;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}

.nav1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.cards {
  justify-content: center;
  margin: auto;
  display: grid;
  gap: 1rem;
   grid-column-gap: 100px;
   grid-row-gap: 100px;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

.between {
  display: flex;
  justify-content: space-around;
  margin-top: 7px;
}

.tx {
  height: 40px;
  margin-top: 80px;
  margin-left: 100px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 600px) {
  .tx { 
    margin-top: 80px;
    margin-bottom: 140px;
    margin-left: 20px;
  }
}

@media (min-width: 600px) {
  .bld1 { 
    margin-top: 105px;
    margin-left: 100px;
}
}

.proj {
  margin-bottom: 20px;
}

.li1 {
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 5px;
  font-size: large;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.li2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchbox1 {
  border-radius: 40px;
  width: 250px;
  margin-left: 40px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .searchbox1 {
    margin-left: 47px;
  }
}

.inputw {
  margin: 0;
}

@media (max-width: 600px) {
  .tx {
    font-size: 12px;
    display: grid;
    grid-template-columns: 70% ;
    grid-column-start: 1;
  }
}

.projects {
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.projtx {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.fw {
  font-size: 23px;
}

.gml {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: large;
  height: 40px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(-45deg, #7db7f4, #82befe, #6fffb7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
    
}

.ls2 {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .gml {
    font-size: small;
  }
}